{% extends 'layout.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light  navbar-fixed-top">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse sidebar-offcanvas" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto ">
                <li class="nav-item">
                    <a class="navbar-brand" href="/users">
                        <img src="/images/logo.png" width="60" height="60" class="d-inline-block" alt="">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Home</a>
                </li>
                <li class="navbar-text">
                    <a href="/pokemontcg" >Ricerca Carta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/all_sets">Tutti i set</a>
                </li>
                <li class="navbar-text">
                    <a href="/topSeller" >Top Seller</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="navbar-text">
                    <span  class="login_title" >Feedback Web App</span>
                    <img src="/images/logo.jpg" alt="logo" class="dot"/>
                </li>
            </ul>
            <ul  class="navbar-nav">
                <li>
                    <a class="fa fa-facebook fa-lg" style="border-radius: 5px" href="" role="button"></a>
                    <a class="fa fa-instagram fa-lg" style="border-radius: 5px" href="" role="button">
                    </a>
                </li>
            </ul>
            <ul class="nav-item">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img  src="{{ profileUrl}}" width="50" height="50" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a href="/users?user_id={{ profile.id }}" class="dropdown-item">{{ profile.displayName }}</a>
                        <a href="/info" class="dropdown-item">Info</a>
                        {% if userRole == "1" %}
                            <a href="/admin" class="dropdown-item">Pagina Admin</a>
                        {% endif %}
                        <a href="/logout" class="dropdown-item" >Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row center initial_container">
        {% if allSets.length > 0%}
            {%  for set in allSets %}
                <div class="col-4">
                    <div class="card" >
                        <div class="card-title">
                            <span class="search_card_content">{{ set.name }}</span>
                        </div>
                        <div class="card-content">
                            <a href="/all_sets/all_set_card?set_id={{ set.id }}">
                                <img src="{{ set.images.logo }}" class="set_image" >
                            </a>
                        </div>
                        <div class="card-footer">
                            <ul>
                                <li style="list-style-type: circle">Carte totali: {{ set.total }}</li>
                                <li style="list-style-type: circle">Serie: {{ set.series }}</li>
                                <li style="list-style-type: circle">Data di uscita: {{ set.releaseDate }}</li>
                                <li style="list-style-type: circle">Simbolo: <img src="{{ set.images.symbol }}" class="symbol"> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {%  endif %}
    </div>
{% endblock %}
