{% extends 'layout.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse sidebar-offcanvas" id="navbarSupportedContent">
            <ul class="navbar-nav  mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/profile">Home</a>
                </li>
                <li class="navbar-text">
                    <a href="/pokemontcg" >Ricerca Carta</a>
                </li>
                <li class="navbar-text">
                    <a href="/topSeller" >Top Seller</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="navbar-text">
                    <span  class="login_title">Feedback Web App</span>
                    <img src="/images/logo.jpg" alt="logo" class="dot"/>
                </li>
            </ul>
            <ul  class="navbar-nav">
                <li>
                    <a class="fa fa-facebook fa-lg" style="border-radius: 5px" href="" role="button"></a>
                    <a class="fa fa-instagram fa-lg" style="border-radius: 5px" href="" role="button">
                    </a>
                </li>
            </ul>
            <ul class="nav-item">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img  src="{{ profileUrl}}" width="50" height="50" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a href="/users?user_id={{ profile.id }}" class="dropdown-item">{{ profile.displayName }}</a>
                        <a href="/info" class="dropdown-item">Info</a>
                        {% if userRole == "1" %}
                            <a href="/admin" class="dropdown-item">Pagina Admin</a>
                        {% endif %}
                        <a href="/logout" class="dropdown-item" >Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main" >
        <div class="row center justify-content-center" style="margin-top: 100px" id="content">
            {% for user in users %}
                <div class="col-5">
                    <div class="card" style="width: 500px;">
                        <div class="card-content">
                            <img src="{{ user.userProfile }}" width="50" height="50" class="rounded-circle" alt="{{ user.username}}">
                            <div class="card-title">
                                <h5>
                                    {{ user.username}}
                                </h5>
                                <h5>Feedback Positivi: {{ user.positive }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>

    <script>
        $(document).ready(function() {

        });

    </script>
{% endblock %}
